#slider {
    margin: 100px auto;
    position: relative;
    width: 500px;
    height: 500px;   
}
#slider .slidePic {    
    display: none;
    width: 100%;
    height: 100%;  
    animation: flip-2-ver-left-1 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}
#slider .reverse {
    animation: flip-2-ver-right-fwd 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
   

}
@keyframes flip-2-ver-right-fwd {
    0% {
      -webkit-transform: translateX(0) translateZ(0) rotateY(0);
              transform: translateX(0) translateZ(0) rotateY(0);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    100% {
      -webkit-transform: translateX(100%) translateZ(160px) rotateY(-180deg);
              transform: translateX(100%) translateZ(160px) rotateY(-180deg);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
  }
@keyframes flip-2-ver-left-1 {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
    100% {
      -webkit-transform: translateX(-100%) rotateY(180deg);
              transform: translateX(-100%) rotateY(180deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

#slider .btn {
    width: 40px;
    height: 40px;
    padding: 3px;
}
#slider .btn:hover {
    cursor: pointer;    
    background-color: cadetblue;
    border: 0.5px solid;   
    opacity: 0.5;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(200px);
              transform: translateZ(200px);
    }
  }
#slider .left {    
    position: absolute;
    top: 50%;    
}
#slider .right {
    position: absolute;
    top: 50%;
    right: 0;
}

#slider .currentIndex {
    display: flex;
    width: 200px;
   
    justify-content: space-around;
    margin: 0 auto;
}
#slider .currentIndex .current-btn {
    border: 1px solid;
    padding: 3px;
}
#slider .currentIndex .active {
    background-color: rebeccapurple;
}
#slider .currentIndex .current-btn:hover {
    cursor: pointer;
}
